.button
{
    -fx-background-color : rgba(0, 0, 0, 0);
    -fx-text-fill : #000000;
    -fx-cursor: HAND;
}
.button:hover{
    -fx-background-color : #000000;
    -fx-text-fill : #ffffff;
}





.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}





.btnSearch{
    -fx-background-color: #02030A;
    -fx-border-radius: 2em;
    -fx-text-fill:  #ffffff;
}

.iconButton{
    -fx-opacity: 0.6;
}

.iconButton:hover{
    -fx-opacity: 1;
}

.btnAdd{
    -fx-background-color: #0085fc ;
    -fx-text-fill:  white;
}

.btnAdd:hover{
    -fx-background-color: #0058fc;
}


btnQuayLai{
    -fx-background-color: #000000;
}

btnQuayLai:hover{
    -fx-background-color: #ffffff;
    -fx-font-style: underline;
}